* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Bradley Hand, cursive;
  line-height: 1.6;
  background: #1e555c;
  color: white;
  text-align: center;
}

h1 {
  font-size: 42px;
  padding-top: 50px;
}

h2 {
  font-size: 32px;
  padding-top: 25px;
}

h3 {
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.length {
  font-size: 32px;
}

.session {
  border: 2px solid white;
  border-radius: 40px;
  margin: 40px auto;
  max-width: 600px;
}

.icon .fa-play {
  padding: 0px 20px;
}
.icon .fa-pause {
  padding: 0px 20px;
}
.icon .fa-stop {
  padding: 0px 20px;
}
#down {
  cursor: pointer;
}
#up {
  cursor: pointer;
}
#play {
  cursor: pointer;
}
#pause {
  cursor: pointer;
}
#stop {
  cursor: pointer;
}
